.container{
    margin-bottom:100px ;
}
.carousel-item{
  background-color: whitesmoke;
  padding: 20px 40px;

}
.buy-button{
  background-image: linear-gradient(45deg, rgb(49, 46, 46),black);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
}
.card{
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 15px gray;
}
.card-body{
  text-align: center;
}
.card-footer{
  text-align: center;
  border: none;
  background-color: white;
}
.see-all{
  color:orange;
  
}
.products{
  margin-bottom:20px ;
}
.card{
  height: 200px;
  width: 200px;
  position: center;
}

